.nav,
.pagination,
.carousel,
.panel-title,
a{
    cursor: pointer;
}

h1, h2, h3, h4, h5, p, a{
    font-family: 'Open Sans', sans-serif;
}

h1{
    margin-top: 25px;
    font-size: 2.2vw;
}

h3{
    font-size: 1.2vw;
}

#buttonmix{
    padding-top: 15px;
}

#buttonmix-main{
    padding-top: 15px;
}

.btn-blue {
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
-o-border-radius: 10px;
border-radius: 10px;
border: 10px;
margin-left: 17px;
padding-left: 70px;
padding-right: 70px;
margin-top: 40px;
margin-bottom: 30px
}

.btn-blue>h1,
.btn-blue>h2,
.btn-blue>h3,
.btn-blue>h4,
.btn-blue>h5{
}

.btn-blue>h1{
line-height: 30px;
}

.btn-blue>h2{
    margin-bottom: 15px;
    margin-top: 15px;
}



.btn-yellow{
word-wrap: break-word;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
-o-border-radius: 10px;
border-radius: 114px;
border: 10px;
}

.btn-blue,
.btn-yellow{
    background-image: linear-gradient(180deg, #00C0FF 0%, #0086B2 100%);
    color: #edebec;
}

.btn-yellow>h2,
.btn-yellow>h3,
.btn-yellow>h4,
.btn-yellow>h5{
    margin-top: 10px;
}

.btn-yellow>h1{
    margin-top: 50px;
}

.org-button{
    margin-top: 15px;
}

i{
    font-size: x-large;
}

body{
    background-color: #edebec;
}

.logo-bar-image{
    display:block;
    margin:auto;
    height: 80px;
    width: auto
}

.logo-bar{
    border-color: #0086B2;
    border-top-style: solid;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    bottom: 0;
}

.org-button-tall {
    height: 205px;
}

.org-button-short {
    height: 149px;
}